*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.inputProduct{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    padding: 10px;
    margin:10px;
}
table{
    width:100%;
}

table,th,td,td{
    border:1px solid rgb(71, 68, 68);
}